<ion-view view-title="首页">
  <ion-content>
    <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true"
                   slide-interval=2000 show-pager="true"
                   active-slide="model.activeIndex" delegate-handle="delegateHandler">
      <ion-slide>
        <div class="box">
          <a href="#/app/detail/{{sildeDatas[0].id}}">
            <img ng-src="{{sildeDatas[0].image}}">
            <p>{{sildeDatas[0].title}}</p>
          </a>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <a href="#/app/detail/{{sildeDatas[1].id}}">
            <img ng-src="{{sildeDatas[1].image}}">
            <p>{{sildeDatas[1].title}}</p>
          </a>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <a href="#/app/detail/{{sildeDatas[2].id}}">
            <img ng-src="{{sildeDatas[2].image}}">
            <p>{{sildeDatas[2].title}}</p>
          </a>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <a href="#/app/detail/{{sildeDatas[3].id}}">
            <img ng-src="{{sildeDatas[3].image}}">
            <p>{{sildeDatas[3].title}}</p>
          </a>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <a href="#/app/detail/{{sildeDatas[4].id}}">
            <img ng-src="{{sildeDatas[4].image}}">
            <p>{{sildeDatas[4].title}}</p>
          </a>
        </div>
      </ion-slide>
    </ion-slide-box>
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
    <div ng-repeat="allData in allDatas">
      <div class="item item-divider">
        {{allData.formatDate}}
      </div>
      <div ng-repeat="stories in allData.stories">
        <a class="card item item-thumbnail-right"
           href="#/app/detail/{{stories.id}}">
          <img ng-src="{{stories.images}}">
          <p>{{stories.title}}</p>
        </a>
      </div>
    </div>
    <button class="button button-full button-positive" ng-click="loadMore()">加载更多</button>
  </ion-content>
</ion-view>
