/* Empty. Add your own CSS if you like */
.scroll{
  max-width:600px;
  min-width:300px;
  margin:0 auto;
}
.slider-slide {
  color: #000;
  background-color: #fff; text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: 300;
}
.main-wrap{
  max-width:600px;
  min-width:300px;
  margin:0 auto;
}
.box,.img-wrap{
  height:200px;
  overflow: hidden;
  position:relative;
}
.box img,.img-wrap img{
  width:100%;
  margin-top:-18%;
}

.img-wrap>h1,.box p{
  position:absolute;
  left:0;
  padding:10px;
  bottom:20px;
  font-size:28px;
  color:#fff;
}
.card{
  margin-top:10px;
  margin-bottom:10px;
}
.editors{
  margin-top:5px;
  margin-left:10px;
}
.editors div{
  position:relative;
  line-height:35px;
}
.editors img{
  position: absolute;
  border-radius: 50%;
  top:50%;
  transform:translateY(-50%);
}
.text-center a,.left-buttons button,.back-button{
  width:auto;
}
.about-content{
  position:relative;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}

@media screen and (max-width: 480px) {

  .box p,.img-wrap>h1{
   font-size:20px;
  }

}
